body { background: #79c4f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 56px; display: flex; }
.block-metrics-0 { color: #b814f3; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #99aa07; font-size: 16px; margin-bottom: 5px; }
.block-payment-2 { color: #cfb71e; font-size: 20px; margin-bottom: 5px; }
.block-user-3 { color: #1604d3; font-size: 21px; margin-bottom: 5px; }
.block-token-4 { color: #6a85bd; font-size: 12px; margin-bottom: 5px; }